name: Docker Build, Scan & Push

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  docker-pipeline:
    runs-on: ubuntu-22.04
    name: Build, Scan and Push Docker Image

    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v4

      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

     
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/unalab-chatproject:development .

      
      - name: Scan Docker image with Anchore
        uses: anchore/scan-action@v5
        with:
          image: ${{ secrets.DOCKERHUB_USERNAME }}/unalab-chatproject:development
          fail-build: true
          severity-cutoff: high

      
      - name: Push Docker image to Docker Hub
        if: success()
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/unalab-chatproject:development
