name: Build, Scan (Anchore) & Push Docker Image

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  build-and-scan:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3


      - name: Build Docker image
        run: |
          docker build -t zeppelin78/unalab-chatproject:latest .


      - name: Scan Docker image with Anchore
        uses: anchore/scan-action@v5
        with:
          image: zeppelin78/unalab-chatproject
          fail-build: true
          severity-cutoff: high

      - name: Login to Docker Hub
        if: success()
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Push image to Docker Hub
        if: success()
        run: |
          docker push zeppelin78/unalab-chatproject:latest
